{% set bem_block = 'dlog-blog-related-posts' %}
<div {{ attributes.addClass(bem_block) }}>
  {% if items|length %}
    <h2 class="{{ bem_block }}__title">
      <span>
        Related posts
      </span>
    </h2>
      <div class="{{ bem_block }}__items">
        {% for item in items %}
          <div class="{{ bem_block }}__item">
            {{ item }}
          </div>
        {% endfor %}
      </div>
  {% endif %}
</div>
